[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"2to3" = "==1.0"
alabaster = "==0.7.11"
certifi = "==2018.8.24"
cftime = "==1.0.1"
chardet = "==3.0.4"
dask = "==0.18.1"
docutils = "==0.14"
filelock = "==3.0.8"
idna = "==2.7"
imagesize = "==1.1.0"
kiwisolver = "==1.0.1"
matplotlib = "==2.2.3"
mock = "==2.0.0"
nose = "==1.3.7"
numpy = "==1.15.2"
pbr = "==4.2.0"
"pep8" = "==1.7.1"
pyke = "==1.1.1"
pyparsing = "==2.2.2"
pyshp = "==1.2.12"
python-dateutil = "==2.7.3"
pytz = "==2018.5"
requests = "==2.19.1"
scipy = "==1.1.0"
scitools-iris = {editable = true, ref = "0ac46010918e830659ad922ac422620e98fa0464", git = "https://github.com/SciTools/iris.git"}
six = "==1.11.0"
snowballstemmer = "==1.2.1"
sphinxcontrib-websupport = "==1.1.0"
toolz = "==0.9.0"
"urllib3" = "==1.23"
Babel = "==2.6.0"
Cartopy = "==0.16.0"
cf_units = "==2.0.2"
Cycler = "==0.10.0"
Cython = "==0.28.5"
GDAL = "==2.2.3"
ImageHash = "==4.0"
"Jinja2" = "==2.10"
MarkupSafe = "==1.0"
"netCDF4" = "==1.4.1"
Pillow = "==5.3.0"
Pygments = "==2.2.0"
PyWavelets = "==1.0.1"
Shapely = "==1.6.4.post2"
Sphinx = "==1.8.1"

[dev-packages]
ipython = "*"
ipdb = "*"

[requires]
python_version = "3.6"
